@use "./partials/mixins";
@use "./partials/media-qs";

* {
    body {
        @include mixins.default-flex-details;
        flex-flow: column wrap;
        font-family: 'Space Grotesk', sans-serif;
        justify-content: space-around;
        @include mixins.default-page-width;
        @include mixins.default-background-color;
    }
    
    //======= NAVIGATION STYLING =====
    nav {
        @include mixins.nav-bar-settings;
        @include mixins.nav-bar-color;
        @include mixins.hamburger-settings;
    }

    .nav__items__div {
        display: flex block;
        @include media-qs.medium-device {
            display: none;
        }
        @include media-qs.small-device {
            display: none;
        }
        @include media-qs.xsmall-device {
            display: none;
        }
        align-self: center;
        justify-content: space-around;
        margin-left: auto;
        width: 50vw;
    }

    .logo__img {
        margin-left: 50px;
        align-self: center;
    }

    .hamburger {
        display: none;
        @include media-qs.xsmall-device {
            display: block;
        }

        @include media-qs.small-device {
            display: block;
        }

        @include media-qs.medium-device {
            display: block;
        }
        margin: 20px;
        width: 30px;
        height: 30px; 
        background: linear-gradient(
            to bottom, 
            #02563560, #02563560 20%, 
            #FFFFFF 20%, #FFFFFF 40%, 
            #02563560 40%, #02563560 60%, 
            #FFFFFF 60%, #FFFFFF 80%, 
            #02563560 80%, #02563560 100%
        );
        outline: none;

    }

    .hamburger__bar__item {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;

    }
    
    .nav-bar__item {
        text-decoration: none;
        color: rgba(25.5, 42.7, 37.3);

    }

    .nav-bar__item:hover {
        text-decoration:underline;
        color: grey
    }
   
    //======= DEFAULT STYLING =====
    section {
        @include mixins.default-flex-details;
        @include mixins.default-section-width;
        justify-content: center;
        @include mixins.default-section-color;
        @include mixins.default-section-height;
    }
    
    //======= ABOUT-ME STYLING =====
    .about-me {
        @include mixins.default-flex-details;
        flex-direction: row;
        justify-content: center;
        gap: 70px;
        background-color: #16A085;
        background-image: linear-gradient(135deg, #16A085 5%, #ffffff 100%);
    }

    
    .about-me__logo {
        align-self: center;
        padding: 10px;
        @include mixins.default-border-radius;
        // box-shadow: 1px 1px 2px 1px #16A085;
    }
    
    .about-me__info {
        @include mixins.default-flex-details;
        @include mixins.default-info-align;
        flex-flow: column wrap;
        @include mixins.default-info-color;
        @include mixins.default-info-text;
        @include mixins.default-info-margins;
        @include mixins.default-border-radius;
        padding: 15px;
        text-align: center;  
        @include mixins.default-info-width;
    }
    
    .about-me__info--h1 {
        font-size: 45px;
    }
    .about-me__info--h2 {
        font-weight: lighter;
        font-size: x-large;
    }

    //======= STACK STYLING =====
    .stack {
        @include mixins.default-flex-details;
        justify-content: space-around;
        flex-direction: row;
        align-items: flex-start;
        @include mixins.default-section-color;
    }

    .stack__info {
        @include mixins.default-flex-details;
        @include mixins.default-info-align;
        flex-flow: row wrap;
        @include mixins.default-info-color;
        @include mixins.default-border-radius;
        padding: 15px;
        @include mixins.default-info-margins;
        @include mixins.default-info-width;
        margin-right: auto;
    }

    .stack__info__main-div {
        display: flex;
        flex-flow: row wrap;
        text-align: left;
    }

    .fab {
        font-size: 30px;
    }

    .stack__info--text > ul {
        list-style-type: none;
    }

    //======= PROJECTS STYLING =====
    .projects {
        @include mixins.default-section-color;
        justify-content: space-around;
        flex-flow:column wrap;      
        align-items: center;
    }

    .projects__info {
        @include mixins.default-flex-details;
        @include mixins.default-info-align;
        flex-flow: column wrap;
        @include mixins.default-info-color;
        @include mixins.default-border-radius;
        padding: 15px;
       
        @include mixins.default-info-margins;
        @include mixins.default-info-width;
        margin-right: auto;
    }

    .portfolio__gallery {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        margin: 15px;
        width: auto;
        gap: 50px;
        width: 80vw;
    }

    .gallery__entry {
        @include mixins.default-border-radius;
        background-color: #f9f9f0;
        width: min-content;
        height: min-content;
    }

    .gallery__entry:hover {
        border: 3px solid #10826b;
        text-decoration: underline;
    }

    .gallery__image {
        padding: 5px;
        
        width: 200px;
        height: 200px;
    }

    .image__description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        font-size: 12px;
        padding: 2px;
    }

    //====== CONTACT STYLING =====
    .contact-me {
        @include mixins.default-section-color;
        justify-content: space-around;
        flex-direction: row;
        align-items: flex-start;
    }

    .contact-me__info {
        @include mixins.default-flex-details;
        @include mixins.default-info-align;
        flex-flow: column wrap;
        @include mixins.default-info-color;
        @include mixins.default-border-radius;
        padding: 15px;
        @include mixins.default-info-margins;
        @include mixins.default-info-width;
        margin-right:auto;
    }


    .fa {
        font-size: 50px;
        text-decoration: none;
        color: black;
    }

    
}



// ===== FORM STYLING - WILL NOT USE ======
.email-form__popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid white;
    z-index: 9;
}

.form__container {
    max-width: fit-content;
    padding: 10px;
    background-color: #f1f1f1;
}

.form__container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

