* body {
  display: flex;
  align-self: center;
  flex-flow: column wrap;
  font-family: "Space Grotesk", sans-serif;
  justify-content: space-around;
  width: 98vw;
  background-color: #f9f9f0;
}
* nav {
  background-color: #19c2a0;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  * nav {
    display: flex;
    align-self: center;
    position: fixed;
    top: 0;
    z-index: 1030;
    width: 98vw;
    border: 2px solid rgba(2, 86, 53, 0.3764705882);
    padding: 20px;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 1200px) {
  * nav {
    display: flex;
    align-self: center;
    position: fixed;
    top: 0;
    z-index: 1030;
    width: 98vw;
    border: 2px solid rgba(2, 86, 53, 0.377);
    padding: 20px;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 600px) {
  * nav {
    display: flex;
    align-self: center;
    position: fixed;
    top: 0;
    z-index: 1030;
    width: 98vw;
    border: 2px solid rgba(2, 86, 53, 0.377);
    flex-direction: row;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 601px) and (max-width: 767px) {
  * nav {
    display: flex;
    align-self: center;
    position: fixed;
    top: 0;
    z-index: 1030;
    width: 98vw;
    border: 2px solid rgba(2, 86, 53, 0.377);
    flex-direction: row;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  * nav {
    display: flex;
    align-self: center;
    position: fixed;
    top: 0;
    z-index: 1030;
    width: 98vw;
    border: 2px solid rgba(2, 86, 53, 0.3764705882);
    flex-direction: row;
    justify-content: space-between;
  }
}
* .nav__items__div {
  display: flex block;
  align-self: center;
  justify-content: space-around;
  margin-left: auto;
  width: 50vw;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  * .nav__items__div {
    display: none;
  }
}
@media only screen and (min-width: 601px) and (max-width: 767px) {
  * .nav__items__div {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  * .nav__items__div {
    display: none;
  }
}
* .logo__img {
  margin-left: 50px;
  align-self: center;
}
* .hamburger {
  display: none;
  margin: 20px;
  width: 50px;
  height: 50px;
  background: linear-gradient(to bottom, rgba(2, 86, 53, 0.3764705882), rgba(2, 86, 53, 0.3764705882) 20%, #19c2a0 20%, #19c2a0 40%, rgba(2, 86, 53, 0.3764705882) 40%, rgba(2, 86, 53, 0.3764705882) 60%, #19c2a0 60%, #19c2a0 80%, rgba(2, 86, 53, 0.3764705882) 80%, rgba(2, 86, 53, 0.3764705882) 100%);
}
@media only screen and (max-width: 600px) {
  * .hamburger {
    display: block;
  }
}
@media only screen and (min-width: 601px) and (max-width: 767px) {
  * .hamburger {
    display: block;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  * .hamburger {
    display: block;
  }
}
* .hamburger__bar__item {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
* .nav-bar__item {
  text-decoration: none;
  color: rgb(26, 43, 37);
}
* .nav-bar__item:hover {
  text-decoration: underline;
  color: grey;
}
* section {
  display: flex;
  align-self: center;
  width: 98vw;
  justify-content: center;
  background-color: #16A085;
  background-image: linear-gradient(135deg, #16A085 5%, #ffffff 100%);
  height: 85vh;
  border: 1px solid red;
}
* .about-me {
  display: flex;
  align-self: center;
  flex-direction: row;
  justify-content: space-around;
}
* .about-me__logo {
  align-self: center;
  padding: 10px;
  border-radius: 10px;
}
* .about-me__info {
  display: flex;
  align-self: center;
  align-self: center;
  flex-flow: column wrap;
  background-color: #f9f9f0;
  box-shadow: 12px 12px 2px 1px #16A085;
  margin-left: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  padding: 15px;
  width: 33.3vw;
}
* .about-me__info .about-me__info--h1 {
  color: #10826b;
}
* .about-me__info--h1 {
  font-size: 45px;
}
* .about-me__info--h2 {
  font-weight: lighter;
  font-size: x-large;
}
* .stack {
  display: flex;
  align-self: center;
  justify-content: space-around;
  flex-direction: row;
  align-items: flex-start;
  background-color: #16A085;
  background-image: linear-gradient(45deg, #16A085 5%, #ffffff 100%);
}
* .stack__info {
  display: flex;
  align-self: center;
  align-self: center;
  flex-flow: column wrap;
  background-color: #f9f9f0;
  box-shadow: 12px 12px 2px 1px #16A085;
  border-radius: 10px;
  padding: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
  width: 33.3vw;
}
* .projects {
  background-color: #16A085;
  background-image: linear-gradient(135deg, #16A085 5%, #ffffff 100%);
  justify-content: space-around;
  flex-direction: row-reverse;
  align-items: center;
}
* .projects__info {
  display: flex;
  align-self: center;
  align-self: center;
  flex-flow: column wrap;
  background-color: #f9f9f0;
  box-shadow: 12px 12px 2px 1px #16A085;
  border-radius: 10px;
  padding: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
  width: 33.3vw;
}
* .portfolio__gallery {
  display: flex;
  flex-flow: column wrap;
  padding: 5px;
  background-color: #f9f9f0;
  border-radius: 10px;
  margin: 15px;
  width: min-content;
}
* .portfolio__gallery:hover {
  border: 3px solid #10826b;
  text-decoration: underline;
}
* .contact-me {
  background-color: #16A085;
  background-image: linear-gradient(45deg, #16A085 5%, #ffffff 100%);
  justify-content: space-around;
  flex-direction: row;
  align-items: flex-start;
}
* .contact-me__info {
  display: flex;
  align-self: center;
  align-self: center;
  flex-flow: column wrap;
  background-color: #f9f9f0;
  box-shadow: 12px 12px 2px 1px #16A085;
  border-radius: 10px;
  padding: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
  width: 33.3vw;
}
