@use "./partials/mixins";

* {
    body {
        display: flex;
        flex-flow: column wrap;
        font-family: 'Space Grotesk', sans-serif;
        justify-content: center;
        @include mixins.default-nav-width;
    }
    
    nav {
        display: flex;
        @include mixins.default-page-length;
        border: 2px solid rgba(2, 86, 53, 0.377);
        padding: 20px;
        justify-content: space-around;
    }
    
    
    .material-symbols-outlined {
      font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 24;
    
      color: rgba(25.5, 42.7, 37.3);
    }
    
    .nav-bar__item {
        text-decoration: none;
        color: rgba(25.5, 42.7, 37.3);

    }

    .nav-bar__item:hover {
        text-decoration:underline;
        color: grey
    }
   
    section {
        display: flex;
        @include mixins.default-page-length;
        justify-content: center;
        outline: 1px solid pink;
        height: 300px;
        align-self: center;
    }
    
    .about-me {
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }
    
    .about-me__info {
        display: flex;
        flex-flow: column wrap;
        outline: 2px solid green;
        width: 300px;
    }
    
    .about-me__info--h1 {
        font-size: 45px;
        outline: 1px solid coral;
    }
    .about-me__info--h2 {
        outline: 1px solid blue;
        font-weight: lighter;
        font-size: x-large;
    }
}