@use "./partials/mixins";
@use "./partials/media-qs";

* {
    body {
        @include mixins.default-flex-details;
        flex-flow: column wrap;
        font-family: 'Space Grotesk', sans-serif;
        justify-content: space-around;
       @include mixins.default-page-width;
        @include mixins.default-background-color;
    }
    
    //======= NAVIGATION STYLING =====
    nav {
        @include mixins.nav-bar-settings;
        @include mixins.nav-bar-color;
        @include mixins.hamburger-settings;
    }

    .nav__items__div {
        display: flex block;
        @include media-qs.medium-device {
            display: none;
        }
        @include media-qs.small-device {
            display: none;
        }
        @include media-qs.xsmall-device {
            display: none;
        }
        align-self: center;
        justify-content: space-around;
        margin-left: auto;
        width: 50vw;
    }

    .logo__img {
        margin-left: 50px;
        align-self: center;
    }

    .hamburger {
        display: none;
        @include media-qs.xsmall-device {
            display: block;
        }

        @include media-qs.small-device {
            display: block;
        }

        @include media-qs.medium-device {
            display: block;
        }
        margin: 20px;
        width: 50px;
        height: 50px; 
        background: linear-gradient(
            to bottom, 
            #02563560, #02563560 20%, 
            #19c2a0 20%, #19c2a0 40%, 
            #02563560 40%, #02563560 60%, 
            #19c2a0 60%, #19c2a0 80%, 
            #02563560 80%, #02563560 100%
        );

    }

    .hamburger__bar__item {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;

    }
    
    .nav-bar__item {
        text-decoration: none;
        color: rgba(25.5, 42.7, 37.3);

    }

    .nav-bar__item:hover {
        text-decoration:underline;
        color: grey
    }
   
    //======= DEFAULT STYLING =====
    section {
        @include mixins.default-flex-details;
        @include mixins.default-section-width;
        justify-content: center;
        @include mixins.default-section-color;
        @include mixins.default-section-height;
        border: 1px solid red;
    }
    
    //======= ABOUT-ME STYLING =====
    .about-me {
        @include mixins.default-flex-details;
        flex-direction: row;
        justify-content: space-around;
    }

    
    .about-me__logo {
        align-self: center;
        padding: 10px;
        @include mixins.default-border-radius;
        // box-shadow: 1px 1px 2px 1px #16A085;
    }
    
    .about-me__info {
        @include mixins.default-flex-details;
        @include mixins.default-info-align;
        flex-flow: column wrap;
        @include mixins.default-info-color;
        @include mixins.default-info-text;
        @include mixins.default-info-margins;
        @include mixins.default-border-radius;
        padding: 15px;  
        @include mixins.default-info-width;
    }
    
    .about-me__info--h1 {
        font-size: 45px;
    }
    .about-me__info--h2 {
        font-weight: lighter;
        font-size: x-large;
    }

    //======= STACK STYLING =====
    .stack {
        @include mixins.default-flex-details;
        justify-content: space-around;
        flex-direction: row;
        align-items: flex-start;
        @include mixins.rotated-section-color;
    }

    .stack__info {
        @include mixins.default-flex-details;
        @include mixins.default-info-align;
        flex-flow: column wrap;
        @include mixins.default-info-color;
        @include mixins.default-border-radius;
        padding: 15px;
        @include mixins.default-info-margins;
        @include mixins.default-info-width;
    }

    //======= PROJECTS STYLING =====
    .projects {
        @include mixins.default-section-color;
        justify-content: space-around;
        flex-direction: row-reverse;
        align-items: center;
    }

    .projects__info {
        @include mixins.default-flex-details;
        @include mixins.default-info-align;
        flex-flow: column wrap;
        @include mixins.default-info-color;
        @include mixins.default-border-radius;
        padding: 15px;
        @include mixins.default-info-margins;
        @include mixins.default-info-width;
    }

    .portfolio__gallery {
        display: flex;
        flex-flow: column wrap;
        padding: 5px;
        background-color: #f9f9f0;
        @include mixins.default-border-radius;
        margin: 15px;
        width:min-content;
    }

    .portfolio__gallery:hover {
        border: 3px solid #10826b;
        text-decoration: underline;
    }

    .contact-me {
        @include mixins.rotated-section-color;
        justify-content: space-around;
        flex-direction: row;
        align-items: flex-start;
    }

    .contact-me__info {
        @include mixins.default-flex-details;
        @include mixins.default-info-align;
        flex-flow: column wrap;
        @include mixins.default-info-color;
        @include mixins.default-border-radius;
        padding: 15px;
        @include mixins.default-info-margins;
        @include mixins.default-info-width;
    }
}